
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header
{
    display:flex;
    justify-content: space-between;
    background-color:#88c9f7;
    height: 50px;
    flex-wrap:wrap ;
    height: 5rem;
    
    
}
h1{
    margin-left: 70px;
    margin-top: 18px;
    font-family: 'Inter', sans-serif;
}
nav{
    background-color:#88c9f7;
    
}
.navlinks ul{
    display: flex;
    list-style: none;
   margin-top: 20px;
   background-color: #88c9f7;
   position:relative;
   right:10rem;
   
   
   

}

li a{
    text-decoration: none;
    padding:10px;
    font-size: 1.5rem;
    border-radius: 2rem;
    font-family: 'Inter', sans-serif;
    color: black;
    margin-left: 1.5rem;
}
.herosection
{
    background: #88c9f7;
    min-height: 50rem;
    border-bottom: 2rem;

}

